services:
  #s3-versitygw:
  #  image: versity/versitygw:v1.0.14
  #  container_name: versitygw
  #  ports:
  #    - "7070:7070"
  #  environment:
  #    - ROOT_ACCESS_KEY=user
  #    - ROOT_SECRET_KEY=password
  #  command: >
  #    posix /tmp/vgw
  s3-rustfs:
    image: rustfs/rustfs:latest
    container_name: rustfs
    environment:
      - RUSTFS_VOLUMES=/data
      - RUSTFS_ADDRESS=0.0.0.0:7070
      - RUSTFS_CONSOLE_ENABLE=true
      - RUSTFS_CONSOLE_ADDRESS=0.0.0.0:7071
      - RUSTFS_CORS_ALLOWED_ORIGINS=*
      - RUSTFS_CONSOLE_CORS_ALLOWED_ORIGINS=*
      - RUSTFS_ACCESS_KEY=user
      - RUSTFS_SECRET_KEY=password
    ports:
      - "7070:7070"
      - "7071:7071"
    volumes:
      - rustfs_data:/data
volumes:
  rustfs_data:
    driver: local